.transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 5px;
  padding: 0 15px;
  border-radius: 5px;
  text-align: start;
}

.info {
  flex: 2;
  margin-left: 25px;
}


.value {
  margin-right: 25px;
}

.positive {
  background-color: #A1F0DC;
}

.negative {
  background-color: #F0A1A8;

}